alerting:
  telegram:
    token: "$TELEGRAM_TOKEN"
    id: "$ALERT_CHANNEL_ID"
ui:
  logo: "https://tietokilta.fi/api/media/file/TiK-logo.svg"
  title: "Tietokilta | Status"
  description: "A Status page for Tietokilta services"
endpoints:
  - name: web
    url: "https://tietokilta.fi"
    conditions: &default_conditions
      - "[STATUS] == 200"
      - "[CERTIFICATE_EXPIRATION] > 48h"
    alerts: &default_alerts
      - type: telegram
        send-on-resolved: true
  - name: infoscreen
    url: "https://tietokilta.fi/infoscreen"
    conditions: *default_conditions
    alerts: *default_alerts
  - name: oldweb
    url: "https://old.tietokilta.fi"
    conditions: *default_conditions
    alerts: *default_alerts
  - name: rekry
    url: "https://rekry.tietokilta.fi"
    conditions: *default_conditions
    alerts: *default_alerts
  - name: laskugeneraattori
    url: "https://laskutus.tietokilta.fi/health"
    conditions: *default_conditions
    alerts: *default_alerts
  - name: tenttiarkisto
    url: "https://tenttiarkisto.fi"
    conditions: *default_conditions
    alerts: *default_alerts
  - name: ilmomasiina
    url: "https://ilmo.tietokilta.fi"
    conditions: *default_conditions
    alerts: *default_alerts
  - name: isopistekortti
    url: "https://iso.tietokilta.fi"
    conditions: *default_conditions
    alerts: *default_alerts
  - name: muistinnollaus
    url: "https://muistinnollaus.fi"
    conditions: *default_conditions
    alerts: *default_alerts
  - name: juvusivu
    url: "https://juhlavuosi.fi"
    conditions: *default_conditions
    alerts: *default_alerts
  - name: vaultwarden
    url: "https://vault.tietokilta.fi/api/alive"
    conditions: *default_conditions
    alerts: *default_alerts
  - name: vaalifoorumi
    url: "https://vaalit.tietokilta.fi"
    conditions: *default_conditions
    alerts: *default_alerts
  - name: rekisteri
    url: "https://rekisteri.tietokilta.fi"
    conditions: *default_conditions
    alerts: *default_alerts
external-endpoints:
  - name: guild-room-infoscreen
    token: "$INFOSCREEN_TOKEN"
    heartbeat:
      interval: 5m
    alerts: *default_alerts
